.Grid {
  flex-grow: 1;
  background-color: var(--gogo-grey);
  padding-top: var(--desktop-padding);
}

.Grid .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--desktop-padding);
}

.Grid .info p {
  color: var(--text-medium-grey);
  margin: 0;
}
.Grid .highlighted-text {
  color: var(--text-blue);
}

.Grid .info .controls-top {
  display: flex;
}
.Grid .info .controls-top button:first-of-type {
  margin-right: 10px;
}

.content {
  width: 100%;
  background-color: var(--gogo-white);
  border-radius: 6px;
  text-align: left;
}

.content tr {
  position: relative;
}
.content tr::after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  content: '';
  background: var(--gogo-grey);
}

.content tr:first-of-type {
  position: relative;
}
.content tr:first-of-type::after {
  background: var(--gogo-light-grey);
}

.content th {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-light-grey);
  list-style: 34px;
}

.content th {
  padding: 30px 0;
}
.content td {
  padding: 13px 0;
}

.content th i {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  background-image: url('./icon_sort_topheader.svg');
}

.content td {
  color: var(--text-grey);
}

.content .main-text {
  font-weight: 600;
}
.content td p {
  margin: 0;
}

.content .first-column {
  padding-left: var(--desktop-padding);
}
.content .last-column {
  padding-right: var(--desktop-padding);
}

.controls {
  display: flex;
  padding-top: var(--desktop-padding);
  padding-bottom: var(--desktop-padding);
}

.controls button:first-child {
  margin-right: 15px;
}

@media (max-width: 1023px) {
  .content {
    border-radius: 0;
  }

  .content .first-column-mobile {
    padding-left: var(--mobile-padding);
  }
  .content .last-column {
    padding-right: var(--mobile-padding);
  }

  td.main-text {
    padding-left: 13px;
    padding-right: 13px;
  }
  .main-text p {
    margin: 0;
  }
  .main-text .detail {
    font-weight: normal;
    font-size: 12px;
  }
}
