body {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

.App {
  position: relative;
}

.app-inner {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  transition: left 0.3s ease;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

@media (max-width: 1023px) {
  .menu-open {
    left: 242px;
  }

  .app-inner.menu-open main {
    opacity: 0.8;
  }
}
