:root {
  --white: #ffffff;

  --gogo: #2d98da;
  --gogo-light: #3da0dd;
  --monk: #75cfec;

  --porcelain: #f3f5f7;
  --koala: #e9eef2;
  --porcelain-rgba: rgba(87, 114, 138, 0.4);

  --cosmo: #36c99a;

  --smalt: #57728a;
  --storm: #727d8e;
  --flint: #98a9bc;

  --carbon: #304457;
  --raven: #7a8896;

  --desktop-padding: 30px;
  --mobile-padding: 21px;
}
